<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{navio?.nomenavio}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>RAP: {{navio?.viagem}}</p>
        <p>Código {{navio?.imo}}</p>
        <p>Data: {{navio?.data}}</p>
        <p>Período: {{navio?.periodo}}</p>
        <p>Escala: {{navio?.manobra}}</p>
    </mat-card-content>

    <mat-card-actions>
        <button class="colorSecondary" mat-button>BAIXAR TXT</button>
        <button class="colorDefault" mat-button (click)="openDialog()">ABRIR CHAMADO</button>
      </mat-card-actions>
</mat-card>