<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>CHEM SILICON</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>RAP: 3994/2024</p>
        <p>Código IMO: 9829681</p>
        <p>Data:</p>
        <p>Período:</p>
        <p>Escala:</p>
        <p>Armazém:</p>
        <p>Tipo:</p>
    </mat-card-content>

    <mat-card-actions>
        <button class="colorSecondary" mat-button>BAIXAR TXT</button>
        <button class="colorDefault" mat-button (click)="openDialog()">ABRIR CHAMADO</button>
      </mat-card-actions>
</mat-card>