<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{navio?.nomenavio}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>RAP: {{navio?.viagem}}</p>
        <p>IMO: {{navio?.imo}}</p>
        <p>Data prevista: {{navio?.data}}</p>
        <p>Período previsto: {{navio?.periodo}}</p>
        <p>Escala: {{navio?.manobra}}</p>
        <button class="colorDefault button-ia" mat-button (click)="openDialog(navio)">
          <i class="icon-set" class="fa-solid fa-robot"></i>
          Relatório Gerado por IA</button>
    </mat-card-content>

    <mat-card-actions class="margin-buttons">
        <button class="colorSecondary" mat-button>BAIXAR TXT</button>
        <button class="colorSecondary" mat-button>ABRIR CHAMADO</button>
      </mat-card-actions>
</mat-card>
<app-modal-detalhamento [navioDetalhe]="navio" *ngIf="openModalDetail" (closeModal)="closeModalHandler()"></app-modal-detalhamento>
