<mat-toolbar class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/abtra-logo.png" alt="Logo da ABTRA." height="80%" />
    </a>
    <div class="menu">
      <a class="color" mat-flat-button routerLink="/"><i class="fa-solid fa-house icon"></i>Início</a>
      <a class="color" mat-flat-button routerLink="/atracacoes-programadas"><i class="fa-solid fa-calendar icon"></i>Atracações
        programadas</a>
    </div>
  </div>
  <div class="logo-time">
    <a href="https://github.com/GiuliaAmaral/cyberPortoHackSantos" target="_blank">
      <span class="ml texto">CyberPorto</span>
    </a>
  </div>
</mat-toolbar>