<mat-toolbar class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/abtra-logo.png" alt="Logo da ABTRA." height="80%" />
    </a>
    <div class="menu">
      <a mat-button routerLink="/">Início</a>
      <a mat-button routerLink="/atracacoes-programadas">Atracações programadas</a>
    </div>
  </div>
  <div class="logo-time">
    <a href="https://github.com/GiuliaAmaral/cyberPortoHackSantos" target="_blank">
      <span class="ml texto">CyberPorto</span>
    </a>
  </div>
</mat-toolbar>