<h2 mat-dialog-title>Qual método deseja?</h2>
<mat-dialog-content class="mat-typography">
    <div class="ladoalado">
        <div class="option">
            <h3>WhatsApp</h3>
            <a href="https://wa.me/5512981660960?text=Gostaria%20de%20informar%20um%20problema%20com%20esse%20cliente%2C%20por%20favor%2C
            " target="_blank">
                <i class="fa-brands fa-whatsapp iconLarge colorGreen"></i>
            </a>
        </div>
        <div class="option">
            <h3>E-mail</h3>
            <a href="mailto:exemplo@email.com?subject=Informa%C3%A7%C3%A3o%20incorreta%20sobre%20o%20cliente&body=Caros%2C%20este%20cliente%20encontra-se%20com%20a%20RAP%20desatualizada%2C%20%C3%A9%20poss%C3%ADvel%20a%20verifica%C3%A7%C3%A3o%20urgentemente%3F%20Grato">
                <i class="fa-solid fa-envelope iconLarge colorBlue"></i>
            </a>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>