<h2 mat-dialog-title>Qual método deseja?</h2>
<mat-dialog-content class="mat-typography">
    <div class="ladoalado">
        <div class="option">
            <h3>WhatsApp</h3>
            <a href="https://wa.me/5512981660960?text=Ol%C3%A1%2C%20gostaria..." target="_blank">
                <i class="fa-brands fa-whatsapp iconLarge colorGreen"></i>
            </a>
        </div>
        <div class="option">
            <h3>E-mail</h3>
            <a href="mailto:exemplo@email.com?subject=Assunto%20do%20Email&body=Mensagem%20do%20corpo">
                <i class="fa-solid fa-envelope iconLarge colorBlue"></i>
            </a>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>