:root {
    --color-primary: #DC7145;
    --color-secondary: #144575;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.col-card-margim {
    padding: 0.5rem;
}